.desktop-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F8F7F4;

  .desktop-body {
    display: flex;
    flex: 1;
    overflow: hidden;

    .desktop-content {
      flex: 1;
      padding: 1.25rem 1.5rem 1.5rem 1.25rem;
      overflow-y: auto;
      max-height: calc(100vh - var(--fixup-header-height, 72px));
    }
  }
}
